<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Data</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="username"><br><br>   
        <textarea name="age" placeholder="Write your decription"></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>