<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR ID</title>
</head>
<body>
    <h1>YOUR ID</h1>
    <p>post ID : <%=post.id %></p>
    <div class="post">
        <h2 class="user">@ <%=post.username%></h3>
        <h4 class="user">age : <%=post.age%></h3>
    </div>
</body>
</html>